@import "mixins-var";

.btn-main {
    @include btn-base();
    @include btn-base-main();
    width: 167px;
}

.btn-main-sm {
    @include btn-base();
    @include btn-base-main();
}

.btn-sec {
    @include btn-base();
    @include btn-base-sec();
    width: 167px;
}

.icon-nav {
    i {
        color: #04111dbf;
        font-size: 32px;
    }
}

.notable-drops {
    height: 578px;
    width: 356px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/notable-drops-bg.jpg");
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    .live {        
        align-self: flex-end;
        margin-right: 20px;
        margin-top: 15px;
        .text {
            background-color: rgba(61, 61, 61, 0.322);
            backdrop-filter: blur(6px);
            color: white;
            padding: 5px 10px;
            border: white solid 2px;
            border-radius: 15px;
            min-height: fit-content;
            font-weight: 600;
        }
    }
    .tex-drops {
        color: white;
        font-size: 16px;
        padding: 10px 15px;
        position: absolute;
        top: 490px;
        .tittle {
            font-weight: 700;
        }
        .description {
            font-style: italic;
        }        
    }

}

.item-colection {
    display: flex;
    border-radius: 10px;
    align-items: center;
    height: 88px;
    padding: 1rem;
    width: fit-content;

    
    .position {
        font-size: 16px;
        font-weight: 700;
        color: #04111d;
        margin-right: 8px;
    }
    .logo {
        img { 
            height: 50px;
            border-radius: 25px;
            margin-right: 6px;
        }
    }
    .data {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        .name-item {
            font-size: 14px;
            font-weight: 600;
        }
        .floor-price {
            display: flex;
            min-height: fit-content;
            p {
                font-size: 12px;
                color: #707a83;
            }
            .price {
                font-size: 14px;
                font-weight: 600;
                color: #707a83;
                img {
                    height: 14px;
                }
            }
        }
    }
    .balance {
        display: flex;
        flex-direction: column;align-items: flex-end;
        margin: 0 10px 0 30px;
        .variation {
            font-size: 14px;
            color: red;
        }
        .price-balance {
            img {
                height: 14px;
            }
            span {
                font-size: 14px;
                font-weight: 600;
                color: #707a83;
            }
        }

    }
}

div.item-colection:hover {
        box-shadow:0px 0px 15px #707a8379;
        cursor: pointer;
    
}