@import "mixins-var";

.btn-main {
    @include btn-base();
    @include btn-base-main();
    width: 167px;
}

.btn-main-sm {
    @include btn-base();
    @include btn-base-main();
}

.btn-sec {
    @include btn-base();
    @include btn-base-sec();
    width: 167px;
}

.icon-nav {
    i {
        color: #04111dbf;
        font-size: 32px;
    }
}
